page-articulo {
    .header .toolbar .toolbar-background{
        background-color: #0033a0;
    }

    .burguerButton{
        color: #ffffff;
    }

    .logoCenter{
        margin-left: -56px;
    }

    .scroll-content .iframeShow{
        width: 100%;
        height: 100%;
    }

    .textRack{
        font-size: 150%;
    }

    .estrellitas{
        font-size: 50px;
    }
}
