<ion-header>
	<ion-navbar text-center>
		<button class="burguerButton" ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<img class="logoCenter" src="../../assets/imgs/login/logo_tec_blanco.png">
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding>
		<label class="titleText">Resultados</label>
	</div>

	<ion-card *ngFor="let car of enlacesGet; let i = index">
		<ion-item>
			<ion-avatar item-start>
				<img src="https://www.google.com/s2/favicons?domain={{car.fuente}}" width="12">
			</ion-avatar>
			<p>{{car.fuente}}</p>
			<h2>&nbsp;&nbsp;&nbsp;&nbsp;</h2>
		</ion-item>
		<div class="paddingDiv" (click)="goArticulo(car, i)">
			<label class="labelTitle"> {{car.titulo}} </label>
			<img src="https://img.youtube.com/vi/{{car.URL.split('/').pop()}}/default.jpg">
		</div>
		<ion-card-content>
			<p (click)="goArticulo(car, i)">{{car.descripcion}} </p>
			<ion-grid>
				<ion-row>
					<strong>
						<small> Categoria: &nbsp;</small>
					</strong>
					<label>
						<small>{{ car.categoria }}</small>
					</label>
				</ion-row>
				<ion-row>
					<strong>
						<small> Autor: &nbsp;</small>
					</strong>
					<label>
						<small> {{car.autor}}</small>
					</label>
				</ion-row>
				<!-- <ion-row>
					<strong>
						<small> Fecha: &nbsp;</small>
					</strong>
					<label>
						<small> {{car.fecha.split('T')[0]}}</small>
					</label>
				</ion-row> -->
				<!-- <ion-row>
					<strong>
						<small> Campo4:&nbsp; </small>
					</strong>
					<label>
						<small> Valor4 </small>
					</label>
				</ion-row>
				<ion-row>
					<strong>
						<small> Campo5: &nbsp;</small>
					</strong>
					<label>
						<small> Valor5</small>
					</label>
				</ion-row> -->
			</ion-grid>
		</ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col col-2>
					<button *ngIf="car.guardado == 0" ion-button icon-start clear small (click)="starPlus(car, i)">
						<ion-icon class="iconsCards" ios="ios-star-outline" md="ios-star-outline"></ion-icon>
						<div>{{car.star}} </div>
					</button>
					<button *ngIf="car.guardado != 0" ion-button icon-start clear small (click)="starLess(car, i)">
						<ion-icon class="iconsCards" ios="md-star" md="md-star"></ion-icon>
						<div>{{car.star}} </div>
					</button>
				</ion-col>
				<ion-col col-2>
					<span ion-button icon-start clear small>
						<ion-icon class="iconsCards" ios="ios-eye-outline" md="ios-eye-outline"></ion-icon>
						<div>{{car.vistos}}</div>
					</span>
				</ion-col>
				<ion-col col-8 text-right>
					<button ion-button icon-start clear small (click)="share(car)">
						<ion-icon ios="md-share" md="md-share"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-card>
</ion-content>